{% extends "base/basepage.html" %}
{% block js %}
<script type="text/javascript">
$j(function(){
    document.getElementById("pageiframe").style.height=document.getElementsByTagName('body')[0].clientHeight-345;
});
function submintForm(){
    $j('#register').submit();
}
function submintForm2(){
    setTimeout(submintForm,1000);

}
</script>
<style type="text/css">
.STYLE1 {
	height:25px;
	background-color:#ffffff;
}
</style>
{% endblock %}
{% block body %}
<body onLoad=""  style="background:#ececec">
{% endblock %}
{% block navigator %}
<a  href="javascript:void(0);">员工管理</a> >><a  href="/oa/userweixin">微信授权</a>  >> <a href="javascript:history.back(-1);">后退</a>
{% endblock %}
{% block content %}
<div>
    <table width="90%"  id="fromtable2" cellpadding="1" cellspacing="1" border="0" bgcolor="#D5E3E6">
       <tr  bgcolor="#ffffff" >
    <td align="center"    width="50px">序号</td>
    <td align="center"    width="100px">员工ID</td>
    <td align="center"   width="80px">姓名</td>
    <td align="center"   width="50px">性别</td>
    <td align="center"   width="100px">电话</td>
    <td align="center"   width="100px">微信id</td>
    <td align="center"   width="90px">权限</td>
    <td align="center"  >微信留言</td>
</tr>
    </table>

    <iframe id="pageiframe" width="90%" height="100%" frameborder="0" name="userlist" src="/oa/user_weixin_list_page/" ></iframe>

</div>
{% endblock %}